@font-face {
	font-family: Rajdhani;
	src: url(../fonts/Rajdhani-Medium.ttf);
}

:root {
	--icon_bg: #25292a;
}

.content {
	margin-top: 4.5rem;
}

.footer_bar {
	height: fit-content;
	width: fit-content;
	position: fixed;
	left: 96vw;
	bottom: 3vh;
}

.header_bar {
	padding: 0.5rem;
	display: flex;
	background: #010409;
	width: 100vw;
	height: fit-content;
	position: fixed;
	top: 0;
	z-index: 20;
}

.user_info {
	background: transparent;
	margin-left: auto;
	margin-right: 1rem;
	display: flex;
}

.user_text {
	background: transparent;
	margin-right: 1rem;
	text-align: end;
}

.avatar {
	border-radius: 50%;
	margin-left: auto;
	width: 2.5rem;
}

.home_icon_bg {
	display: flex;
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	padding: 0.5rem;
	align-items: center;
	background: var(--icon_bg);
	border: 1px #ffffff70 solid;
}

.home_icon {

	background-color: transparent;
	width: 80%;
	margin: 0 auto;
	filter: invert(100%) sepia(9%) saturate(1782%) hue-rotate(0deg) brightness(109%) contrast(108%);
}

.tooltip {
	visibility: hidden;
	width: fit-content;
	background-color: #555;
	color: #fff;
	text-align: center;
	padding: 5px 10px;
	border-radius: 6px;

	position: absolute;
	z-index: 1;
	top: 0%;
	right: 120%;

	opacity: 0;
	transition: opacity 0.3s;
}

.toolipDiv:hover .tooltip {
	visibility: visible;
	opacity: 1;
}

th, td {
  padding: 10px;
}